body{
    font-family: 'Avenir', sans-serif;
    background-color: #F7F7F7;

    margin: 0px;
       
}

h1{
    color: #451F11;
    font-size: 80px;
    padding-left: 60px;
    font-family: 'Palatino', serif;
    margin-bottom: 0px;
    display:flex;
    justify-content: center;
    

}

#love{

    animation-name: slidedown;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes slidedown{
    0%{
        transform: translate(0,-50px);
        opacity: 0%;
    }

    100%{
        transform: translate(0,0px);
        opacity: 100%;
    }
}


#second-header{
    color: whitesmoke;
    
    padding-left: 10px;

    animation-name: slideup;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideup{
    0%{
        transform: translate(0,50px);
        opacity: 0%;
    }

    100%{
        transform: translate(0,0px);
        opacity: 100%;
    }
}

p{

   font-size: 1em;
   width: 100%;
    text-align: right;
}

#hero-section{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#heading-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-wrapper{
    width: 600px;
    text-align: center;
    
    position: relative;
    z-index: 2;

    margin-left:0px;
}

#hero-beans{
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;

    position: absolute;
    z-index: 1;

    top: 0px;
    right: 0px;

    width: 50%;
    height: 100%;
}








#navbar{
    position: absolute; 
    z-index: 5;
    top: 0px;
    width: 100vw;

    display: flex;
    flex-direction: row;
}



#nav-social{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

#nav-text{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 50px;
}

#icon{
    height: 22px;
    margin-right: 50px;
}

#menu-link{
    color: white;
    margin-left: 50px;
}


.standard-margin-section{
    max-width: 960px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;    

     
}

.wrapper-coffeetype{
    display: flex;
    
    
}

.column-coffeetype{
    max-width: 30%;
    background-color: #ffffff;
}

.center{
    margin-left: 20px;
    margin-right: 20px;
    
}

.column-image{
    width: 100%;

}




.column-coffeetype-text{
display: flex;
justify-content: center;
align-content: center;
padding-top: 20px;
padding-left:30px;

}


#explicit-coffee-grid{

    margin-top:100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 20px;

    padding-bottom:200px;

}

.espre-text{

    grid-column: 1/2;
    grid-row: 1/2;
    padding: 35px;
}

.espre{
    background-image: url("img/esspre.jpg");
    background-size: cover;
    grid-column: 2/4;
    grid-row: 1/2;
}

.cap{
    background-image: url("img/cap.jpg");
    background-size: cover;
    grid-column: 1/3;
    grid-row: 2/3;
}

.cap-text{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 35px;
}

#letstalkwrapper{
margin-top: 200px;
margin-bottom: 150px;
display: flex;
border: none;
background-color: lightgray

}

#letstalkimg{
    background-image: url("img/coffee_talk.jpg");
    width: 49%;
    height:70vh;
    justify-content: center;
    background-size: cover;

    

}

#lets{
    font-size: 120px;
    padding: 10px;
    text-align: center;
    color:white;

}


.formletstalk{
background-color:white;
width: 46%;
justify-content: center;
padding-left:40px;
margin-left: 40px;
margin-top: 40px;
margin-bottom: 40px;


}

input{
    margin-top: 40px;
    width:40vw;
    font-size: large;
    height: 50px;
    border: none;
    background-color: #f7f7f7;
}
input[type=submit]{
    
    color: black;
    width:180px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:25px;
    padding-bottom: 25px;
    
}

input[type=submit]:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

#wrapperfooter{
    margin-top: 200px;


}

.footer{
    padding-top:0px;
    display: flex;
    margin-left: 200px;
    margin-left: 200px;
    justify-content: space-between;
    align-items: flex-end;
    
}


#footertext{
    font-size: 50px;
    font-weight: bold;
}
.footerlink{

    margin-left: 15px;

}
.wrappercopyright{
   
    background-color: lightgray;

}

.copyright-text{
    width:100%;
    text-align: center;
}

#dropdown{
    display: none;
}

@media screen and (max-width: 600px){

    #navbar{
      
        justify-content: flex-end;
    }

    #nav-text {
        display: none;
    }

    #nav-social {
        display: none;
    }
    #dropdown{

        display: block;
        padding: 25px;

    
    }
    
    #dropbutton{
        background-image: url(img/drop_down.svg);
        background-repeat: none;
        background-size: cover;
        height: 30px;
        width: 30px;
    }

    #droplist{
        display: flex;
        flex-direction: column;
        min-width: 160px;
        display: none;
    }


    #droplink{
        display: flex;
        flex-direction: column;
        min-width: 160px;
        
    }

    #dropdown:hover #droplist{
        display: block;

    } 
    #hero-wrapper{
        flex-direction: column;
        flex-wrap: wrap;
        color:white;
        margin-bottom: auto;
        justify-content: center;
        width:50vw;
    }

    #sub-title{
        align-content: center;
        padding: 2em;
        text-align: center;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        width:80%;
        
    }

    #heading-wrapper{
        margin-top:4.5em;
        flex-direction: column;
        font-size: 50px;
    }

    #love{
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;;
    }
    #second-header{
        margin-top:0px;
        padding: 0px;
    }
    

    #hero-beans{
        width: 100vw;
        height: 60vh;
        bottom: 0px;
        top: auto;
    }

    .wrapper-coffeetype{
        min-width: 800px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
     
    }

    .center{
        flex-direction: column;

    }

    #explicit-coffee-grid{

        grid-template-columns: 1fr;

    }

    .espre {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .espre-text{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .cap{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .cap-text{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #letstalkwrapper{
        flex-direction: column;
        align-items: flex-end;
    }

    #letstalkimg{
        background-image: none;
    }

    #contact-heading{
        color: #451F11;
        text-align: right;
        margin-bottom: 0px;

    
    }

    .form-wrapper{
        width: 80%;
    }

}
