body{
    font-family: 'Avenir', sans-serif;
}

h1{
    color: #451F11;
    font-size: 80px;
    padding-left: 60px;
    font-family: 'Palatino', serif;
    margin-bottom: 0px;

}

#second-header{
    color: white;
    
    padding-left: 20px;
}

p{
    font-size: 14px;
    width: 44%;
    text-align: right;
}

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#heading-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-wrapper{
    width: 900px;
    text-align: center;
    
    position: relative;
    z-index: 2;

    padding-left:37px;
}

#hero-beans{
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;

    position: absolute;
    z-index: 1;

    top: 0px;
    right: 0px;

    width: 50%;
    height: 100%;
}

#navbar{
    position: absolute; 
    z-index: 5;
    top: 0px;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

#nav-social{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

#nav-text{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 50px;
}

#icon{
    height: 22px;
    margin-right: 50px;
}

#menu-link{
    color: white;
    margin-left: 50px;
}


.standard-margin-section{
    max-width: 960px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    

     
}

.wrapper-coffeetype{
    display: flex;
    
}

.column-coffeetype{
    max-width: 30%;
    background-color: #ffffff;
}

.center{
    margin-left: 20px;
    margin-right: 20px;
    
}

.column-image{
    width: 100%;

}




.column-coffeetype-text{
display: flex;
justify-content: center;
align-content: center;
padding: 20px;

}


#explicit-coffee-grid{

    margin-top:100px;

    max-width: 90vw;
    max-height: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    grid-gap: 20px;

    padding-bottom:200px;

}

.espre-text{

    grid-column: 1/2;
    grid-row: 1/2;
    padding: 35px;
}

.espre{
    background-image: url("img/esspre.jpg");
    background-size: cover;
    grid-column: 2/4;
    grid-row: 1/2;
}

.cap{
    background-image: url("img/cap.jpg");
    background-size: cover;
    grid-column: 1/3;
    grid-row: 2/3;
}

.cap-text{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 35px;
}
