h1{

    color: red;
    font-size: 150px;
    font-family: 'Palatino',serif;
    display: inline-block;
    



}

#second-header{
   color: black 
}

P{
    font-size: 14px;
    width: 30%;
}

#hero-wrapper{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-top: 10%;
        position: relative;
        width: 50%;
        height: 300px;

        z-index: 2;

    
}

.standard-margin-section{
    max-width: 960px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
     
}
#wrapper-coffeetype{
    display: flex;
    
}

.column-coffeetype{
    max-width: 30%;
    background-color: #ffffff;
}

.center{
}


#hero-beans{
    background-image: url("img/beans.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    top:0px;
    right:0px;


    width: 50%;
    height: 100%;
    z-index: 1;



}

